.addPost {
    display: flex;
}

input {
    width: 300px;
    font-size: 16px;
    padding: 14px 40px 13px 22px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 50px;
}

.addPost__btn {
    margin-left: 25px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    max-width: 320px;
    padding: 14px 40px 13px 22px;
    font-family: Proxima Nova, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: initial;
    border: 3px solid transparent;
    border-radius: 50px;
    box-sizing: border-box;
    outline: 0;
    transition: background 0.3s ease-out, opacity 0.3s ease-out, transform 0.3s ease-out;
}

.addPost__btn {
    position: relative;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    border: none;
    background: linear-gradient(135deg, #424f59 0, #000 100%);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.244);
    overflow: hidden;
    transition: 0.3s;
}