.header {
    grid-area: h;
    background-color: #515151;
    display: flex;
}

.header__logoWrp {
    width: 80px;
}

.header__logoWrp>img {
    max-width: 100%;
}

.title {
    font-size: 2rem;
    color: rebeccapurple;
}